@page "/"

<div class="jumbotron">
    <h1>Welcome to .NET Conf Local - Bengaluru</h1>

    <h3>Discover the world of .NET</h3>

    <h4>As a follow-on to the <u><a href="https://www.dotnetconf.net/" target="_blank">dotnetConf virtual conference</a></u>, we
    want to keep the momentum going by hosting a dotnetConf.local event here in Bengaluru, India. <br><br> 

    <a href="https://www.meetup.com/bdotnetug" target="_blank">Bangalore DotNet User Group (BDotNet)</a> brings the famous dotnetConf online virtual conference to your city. Come and Join us to learn
    about the latest and greatest of Microsoft Technologies directly from Microsoft folks, Microsoft MVPs,
    Industry experts and Community rockstars.
    </h4>

</div>

